body {
  background-color: rgba(20, 24, 29, 255);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.navBar {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  left: 250px;
  width: 80vw;
  z-index: 1;
}


.navHead {
  color: white;
  font-size: 2rem;
  margin: 5px;
  margin-right: 50px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.navItems {
  color: #f2f4f5bd;
  margin: 20px;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
}

.navItems:hover {
  color: white;
}

.search {
  margin: 20px;
  background-color: #f5f2f354;
  border: none;
  border-radius: 5rem;
  height: 20px;
}

.search:hover {
  background-color: white;
}

.searchActive {
  background-color: white;
  color: #f2f4f520;
}

.searchIcon {
  margin-left: -50px;
  background-color: #f2f4f500;
  border: none;
}

.searchPic {
  height: 13px;
}

.navLogo {
  width: 60px;
  height: 30px;
  -webkit-mask-image: radial-gradient(black, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0) 90%);
  mask-image: radial-gradient(black, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0) 90%);
  margin-top: 15px;
  cursor: pointer;
}

.homeImage {
  -webkit-mask-image: radial-gradient(black, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0) 70%);
  mask-image: radial-gradient(black, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0) 70%);
  position: absolute;
  left: 250px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 500px;
  width: 80vw;
}

.introItem {
  color: white;
  margin: -1px;
  font-size: 2.5rem;
  font-weight: bold;
}

.start {
  width: 270px;
  border: none;
  border-radius: 2.5px;
  height: 35px;
  margin-top: 35px;
  background-color: #05c435;
  color: #f4fcf7;
  font-size: 1.05rem;
  cursor: pointer;
}

.start:hover {
  background-color: #11ad38;
}

.introPs {
  color: #646e78;
}