body {
    background-color: rgba(20, 24, 29, 255);

}

.navBar {
    position: relative;
}

.signinBody {
    background-image: linear-gradient(to bottom, #1d2328, #14181c);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signinHead {
    color: #71818f;
    font-size: 1.7rem;
}

.form {
    background-color: #1d2328;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    align-items: flex-start;
    border: solid #71818f;
    border-width: 1px;
    border-radius: 5px;
}

.LoginForm {
    background-color: #1d2328;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    align-items: flex-start;
    border: solid #71818f;
    border-width: 1px;
    border-radius: 5px;
}

.label {
    color: white;
    margin: 20px;
    margin-bottom: -5px;
}

.input {
    margin: 20px;
    height: 30px;
    width: 450px;
    background-color: #2c3440;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 1px;
    color: #71818f;
}

.inputActive {
    background-color: white;
    color: #1d2328;
    margin: 20px;
    height: 30px;
    width: 450px;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 1px;
}

.row1 {
    margin: 20px;
    margin-top: 50px;
}

.row2 {
    margin: 20px;
    margin-top: 30px;
}

.checkbox {
    filter: invert(90%) hue-rotate(80deg) brightness(1.5);
    height: 15px;
    width: 15px;
}

.newLabel {
    margin-left: 10px;
}

.signinBtn {
    background-color: #05c435;
    border-color: #20d54d;
    height: 30px;
    width: 90px;
    border-radius: 2.5px;
    margin-left: 210px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.loginBtn {
    background-color: #05c435;
    border-color: #20d54d;
    height: 30px;
    width: 90px;
    border-radius: 2.5px;
    margin-left: 225px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 25px;
}

.signinBtn:hover {
    background-color: #11ad38;
}

.ps {
    color: #71818f;
    font-size: 0.9rem;
    margin: 40px;
}

.reset {
    color: white;
    text-decoration: none;
}